@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

$main-clr: rgb(104, 232, 255);

.foodList-container {
  padding: 2rem;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 2rem;

  .food-box {
    width: 300px;
    background: rgb(241, 234, 234);

    .info {
      padding: 1rem 0.5rem;

      .title {
        font-size: 1rem;
      }
    }
  }
}

// Responsive images
.food-img {
  max-width: 300px;
  width: 100%;
}
