@import './config';
@import './loading';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

// navbar
.navbar {
  background: $main-clr;
  padding: 1rem;
  text-align: center;

  .logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  }
}
